* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.sub-header {
    height: 400px;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(image/about\ sub\ header.PNG);
    background-position: center;
    background-size: cover;
}

    .sub-header h1 {
        width: 90%;
        color: #fff;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

    nav img {
        width: 150px;
    }

.nav-links {
    flex: 1;
    text-align: right;
}

    .nav-links ul li {
        list-style: none;
        display: inline-block;
        padding: 8px 12px;
        position: relative;
    }

        .nav-links ul li a {
            color: #fff;
            text-decoration: none;
            font-size: 13px;
        }

        .nav-links ul li::after {
            content: '';
            width: 0%;
            height: 2px;
            background: #03f5f5;
            display: block;
            margin: auto;
            transition: 0.5s;
        }

        .nav-links ul li:hover::after {
            width: 100%;
        }

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.about-us {
    width: 80%;
    margin: auto;
    padding-top: 80px;
    flex-basis: 48%;
    padding-bottom: 10%px;
}

.about-col {
    flex-basis: 48%;
    padding: 30px 2px;
}

    .about-col img {
        width: 100%;
    }

    .about-col h1 {
        padding-top: 0;
    }

    .about-col p {
        font-size: 12px;
        color: black;
        padding: 15px 0 25px;
    }

.book-btn {
    border: 1px solid #ff5353;
    display: inline-block;
    text-decoration: none;
    color: #ff5353;
    padding: 10px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

    .book-btn:hover {
        color: #000;
        border: 1px solid #ff5353;
        background: #ff5353;
        transition: 1s;
    }

.facilities {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

    .facilities p {
        font-size: 15px;
        color: grey;
        padding: 15px 0 25px;
    }

.facilities-col {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 2%;
    text-align: left;
}

    .facilities-col img {
        width: 100%;
        border-radius: 10px;
    }

    .facilities-col p {
        font-size: 13px;
        color: black;
        padding: 15px 0 25px;
        padding: 0;
    }

    .facilities-col h3 {
        margin-top: 16px;
        margin-bottom: 15px;
        text-align: left;
    }

.facilities h2 {
    font-size: 15px;
    color: rgb(97, 96, 96);
    margin-bottom: 5%;
}


.footer {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

    .footer h4 {
        margin-bottom: 25px;
        margin-top: 20px;
        font-weight: 600;
    }

    .footer p {
        font-size: 11px;
        color: grey;
    }
