* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.sub-header {
    height: 200px;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(image/about\ sub\ header.PNG);
    background-position: center;
    background-size: cover;
    position: relative;
}

    .sub-header h1 {
        width: 90%;
        color: #fff;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }

}

.sub-header h1 {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%; /* Change top to 50% */
    left: 50%;
    transform: translate(-50%,-50%); /* Add this line */
    text-align: center;
}


.gallery {
    margin: 10px 50px;
}

    .gallery img {
        width: 230px;
        padding: 5px;
        filter: grayscale(70%);
        transition: 1s;
    }

        .gallery img:hover {
            filter: grayscale(0%);
            transform: scale(1.1);
        }
