.header {
    background-image: url('Images/dark.jpg'); /* Adjust the path as necessary */
    background-repeat: no-repeat;
    background-size: cover; /* This will make sure that the image covers the entire header */
    background-position: center center; /* This centers the image in the header */
    padding: 10px;
    display: flex;
    align-items: center; /* Align items vertically */
}

.logo-image {
    width: 30px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Add spacing between logo and text */
}

.logos-text {
    font-size: 10px; /* Adjust font size as needed */
    font-weight: bold;
}

.headers-text {
    /* Additional styling for header text */
    font-size: 10px; /* Adjust font size as needed */
    font-weight: bold;
    margin-left: 10px; /* Add spacing between logo and header text */
}

.nav-links {
    flex: 1;
    text-align: right;
}

    .nav-links ul li {
        list-style: none;
        display: inline-block;
        padding: 8px 12px;
        position: relative;
    }

        .nav-links ul li a {
            color: #fff;
            text-decoration: none;
            font-size: 13px;
        }
        /*--CSS Transitions[Online] https://www.w3schools.com/css/css3_transitions.asp [Accessed 21 August 2021]--*/
        .nav-links ul li::after {
            content: '';
            width: 0%;
            height: 2px;
            background: #03f5f5;
            display: block;
            margin: auto;
            transition: 0.5s;
        }

        .nav-links ul li:hover::after {
            width: 100%;
        }



html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

h1.title {
    color: white;
    font-family: 'Courier New, Courier, monospace';
}

h4 {
    color: white;
    font-family: 'Courier New, Courier, monospace';
}


.footer {
    background-color: rgb(26, 48, 70);
    padding: 10px;
    text-align: center;
}

.footer-text {
    display: inline-block;
    text-align: left;
    max-width: 1000px;
}

p.f1 {
    color: white;
    font-family: 'Courier New, Courier, monospace';
}

.fTitle {
    color: white;
    font-family: 'Courier New, Courier, monospace';
}

p.f2 {
    color: grey;
    font-family: 'Courier New, Courier, monospace';
}
