h1.payment-header {
    color: black;
    font-family: 'Courier New, Courier, monospace';
    text-align: center;
    margin:0px;
    margin-bottom:10px;
    background-color : silver;

}



.parent-container {
    display: flex; /* This will create a flex container */
    justify-content: space-between; /* This will place space between the flex items */
    align-items: center; /* This aligns items to the start of the flex container */
    gap: 10px; /* Adjust the gap between the items as necessary */

}

.payment-detail-container {
    flex-basis: 70%; /* Adjust width as necessary, this allows for some space between sections */
    /* Add any additional styling for this section */
}
.payment-container {
    flex-basis: 70%; /* Adjust width as necessary, this allows for some space between sections */
    /* Add any additional styling for this section */
}

