body {
    background-image: url('bookingImg/backgrounds.png');
    background-size: 100% 100%; /* Ensure the background image covers the entire body */
    background-position: center;
    background-repeat: no-repeat; /* Prevent the background image from repeating */
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.form-container {
    width: 40%;
    justify-content: center;
    align-items: center;
}


.slideshow-container {
    width: 60%;
    /* Adjusted width for the right side */
    position: relative;
    overflow: hidden;
}

.mySlides {
    width: 100%;
    height: 700px;
    display: none;
    max-width: 100%;
}

.form-group {
    margin-bottom: 15px;
}

    .form-group label {
        display: block;
        margin-bottom: 5px;
    }

.textbox,
.dropdown {
    padding:7px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    margin-left: 0px;
}

.submit-button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
